@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
}

/* 100% */
.container-changepass{
    position: absolute;
    width: 950px;
    height: 550px;
    margin: 20px;
    border-radius: 20px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
}

/* 100% */
.pic_container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.20);
    border-radius: 20px;

    background-image: url('../imgs/reset.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.input_container{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease-in-out;
    overflow: hidden;
    border-radius: 20px 0 0 20px;
}

.input_container .reset{
    position: absolute;
    left: 0;
    width: 100%;
    transition: 0.5s;
}

.input_container .reset{
    transition-delay: 0.25s;
}

.reset > header{
    font-size: 2rem;
}

.reset > p{
    width: 80%;
    font-size: calc(1rem - 2px);
}

/* ````````` */


.reset_form{
    width: 100%;
}

.form_inputs{
    position: relative;
    width: 80%;
}

.input_ht{
    height: 40px;
    font-size: 1rem;
    color: #495055;
    padding: 15px;
    border: 2px solid  #D9D9D9;
    outline:none;
}

.div_passes{
    width: 99%;
}

.input_passes{
    padding-left: 15px !important;
    width: 85%;
    border-radius: 15px 0 0 15px;
    color: #33393b !important;
}

#toggle_pass{
    width: 15%;
    border-radius: 0 15px 15px 0;
    border: 2px rgba(140, 82, 255, 0.25);
    background: rgba(140, 82, 255, 0.25);
}

#toggle_pass> i.bi{
    position: relative;
    top: 9px;
    left: -2px;
}

#toggle_pass:hover{
    background: rgba(140, 82, 255, 0.40);
}

.form_inputs span.placeholder {
    position: absolute;
    top: 8px;
    left: 17px;
    margin: 13px 0;
    padding: 0 4px;
    color:  #6c757d;
    display: flex;
    align-items: center;
    font-size: 1rem;
    transform-origin: 0% 0%;
    background: none;
    pointer-events: none;
}

.form_inputs input:valid + span.placeholder,
.form_inputs input:focus + span.placeholder,
.form_inputs input:not(:placeholder-shown)~span.placeholder{
    transform: scale(0.8) translateY(-25px);
    background: #fff;
    transition: all 0.2s;
}

#btn_reset{
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: #8C52FF !important;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 600;
    border: none !important;
}

#btn_reset:hover{
    background-color: #8548ff !important;
    box-shadow: 0 0 0 0.2rem rgba(140, 82, 255, 0.25) !important;
}

/* //////////// */

.hovers:hover{
    box-shadow: 0 0 0 0.2rem rgba(140, 82, 255, 0.25) !important;
}

.hovers:focus{
    box-shadow: 0 0 0 0.2rem rgba(140, 82, 255, 0.25) !important;
    border-color: #8C52FF !important;
}


/* `````````` 
MEDIA QUERIES 
````````````` */


/* If [device width] is less than or equal to 992px (lg), then... */
/* md - xs */
@media only screen and (max-width: 992px) {

    .container-changepass{
        max-width: 420px;
        height: 750px !important;
        max-height: 750px !important;
        margin-top: 100px !important;
    }

    .input_container{
        width: 100%;
        height: 500px;
        border-radius: 20px;
    }

    #btn_reset{
        top: 400px;
    }

    .input_passes{
        width: 80%;
    }
    
    #toggle_pass{
        width: 20%;
    }

}


